.Wheather{
      margin: 0;
      font-family: 'Arial, sans-serif';
      color: 'white';
      background-image: 'url("https://wallpaperaccess.com/full/1540049.jpg")';
      background-size: 'cover';
      background-position: 'center';
      background-repeat: 'no-repeat';
      background-attachment: 'fixed';
      min-height: '100vh';
      padding: '0 10px';
    }







    